body {
	font-family: ‘Lucida Console’, Monaco, monospace;
}

#viewport {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border:3px solid black;
	width:800px;
	height:600px;
}

.screen {
	width:800px;
	height:600px;
	margin: 0px auto;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
}

#chat-logs {
	background-color:black;
	font-size:0.9em;
	overflow:auto;
	height:150px;
	opacity:0.8;
	padding:10px;
}

#chat-box {
	height:30px;
	width:625px;
	margin:0px;
	padding:0px;
	border:0px;
	background-color:#7A7A7A;
	padding-left:10px;
	opacity:0.8;
	color:#660000;
	font-weight:bold;
}

#overlay-roots {
	background-image:url('../img/main/overlay-roots.png');
	position:absolute;
	pointer-events:none; /* As to allow click-trough [http://stackoverflow.com/questions/3680429/click-through-a-div-to-underlying-elements] */
}

#main-screen {
	background-image:url('../img/main/main.png');
}

#game-screen {
	margin: 0px auto;
	display:none;
}

#main-chat {
	width:625px;
	height:200px;
	position:absolute;
	bottom:0px;
	left:175px;
}

#current-users {
	background-image:url('../img/main/wood.png');
	padding:10px;
	width:155px;
	height:180px;
	position:absolute;
	bottom:0px;
	left:0px;
	color:white;
	font-size:15px;
}

#availableUsers {
	font-size:13px;
}

#user-name-choose {
	height:52px;
	width:417px;
	padding-left:60px;
	padding-top:5px;
	position:absolute;
	color:white;
	left: 20px;
	background-image:url('../img/main/usernameinput-background.png');
	opacity:1;
}

#mainCanvas {
	
}
